.headerContainer {
  width: 100%;
  height: 64px;
  padding: 0px 40px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLogo {
  cursor: pointer;
  margin-right: 5px;
}

.headerList {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 40px;
  font-weight: 700;
}
.headerLi {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease; /* Add transition for smooth animation */
}
.headerLi:hover {
  color: #007bff;
  transform: scale(1.05); /* Example: slightly enlarge on hover */
}

.headerSignupBtn {
  text-wrap: nowrap;
  cursor: pointer;
}
